name: Start tests

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Create and activate virtual environment
        run: |
          python3 -m venv venv
          source venv/bin/activate

      - name: Install dependencies
        run: pip install -r ./requirements.txt

      - name: Run tests with pytest
        run: |
          export PYTHONPATH=$PWD
          pytest ./tests/
#        run: pytest --cov=./main/ ./tests/

#      - name: Upload coverage report to Coveralls
#        run: coveralls
#        env:
#          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
#
#      - name: SonarCloud Scan
#        uses: SonarSource/sonarcloud-github-action@master
#        with:
#          projectBaseDir: .
#        env:
#          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

